* {
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}
#logo {
color: #666;
width:100%;
}
#logo h1 {
    font-size: 60px;
    text-shadow: 1px 2px 3px #999;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}r
#logo p{
  padding-bottom: 20px;
}


#search-form >.form-group >.input-group > .form-control {
    height: 40px;
    border-radius: 4px 4px 4px 4px !important;
}

.page-header {
  margin-top:20px;
  height: 200px;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2016/10/11/21/43/banner-1732847_960_720.jpg");
  text-align: center;
  padding-top: 75px;
  color: white;
}
h1 {
  position: relative;
  text-align: center;
  font-size: 65px;
}
.mssgs {
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 20px
}
img {
 float: left;
 vertical-align: text-top;

}
#searchBox {
  background-color: rgb(220,230, 230);
  height: 150px;
  width: 100%;
  border-radius: 7px !important;
}
#searchbutton {
  border-radius: 4px 4px 4px 4px !important;
  margin-left: 15px;
  width: 100px;
}

#search-form {
  padding: 0px 20px 20px 20px;
}


.eventInfo {
    clear: right;
    margin-left: 12px;
}
#eventName {
  color: rgb(81, 137, 250);
  font-weight: bold;
  font-size: 22px;
}

#eventDate {
  color: rgb(180, 180, 180);
  font-size: 18px;
}
